main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-flex-publi {
    background-color: white;
    /*height: 700px;*/
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#storys {
    background-color: white;
    width: 100%;
    /*height: 300px;*/
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar {
    width: 0;
}




.card-story {
    background-color: white;
}

.card-story>button {
    background-color: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}


#campo-upload {
    display: none;
}

#texto-upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: var(--cor-cinza);
    color: var(--cor-preto);
    text-align: center;
}

.formulario-botao-roxo {
    width: 135px;

}
#criar-publi{
    padding: 10px;
}

#criar-publi>h2 {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 20px;
}

#criar-publi > form > textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--borda);}

    #criar-publi > form > textarea::placeholder{
      color:-cinza;  
    }

#criar-publi> form>footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px; 	
    	

}

.formulario-botao-roxo{
    width: 100%;
    max-width: 135px;
    background-color: purple;

}

#publicacoes{
    background-color: white;
    width: 100%;
   
}

.card-publi{
    background-color: white;
    width: 100%;
    height: 600px;

}


.card-publi>header{
    display: flex;
    align-items: center;
    padding: 3%;
}

.card-publi>header>a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor-preto);
    text-transform: lowercase;
    font-weight: 500;
    border-radius: 50%;
    text-decoration: none;
}

.card-publi>figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 600px;
}

.card-publi>figure>figcaption{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 5px;
    order: 2;
}

.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}

.interacoes-publicacao{
    display: flex;
    width: 88px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
  }

.interacoes-publicaca > button{
    background-color: transparent;
    border: none;
    cursor: pointer
}

.card-publi>figure>button{
    background-color: transparent;
    border: none;
    color: var(--cor-cinza);
    font-size: var(--tamanho-fonte-sm);
    order: 3;
    margin-left: 15px;
}