@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

@font-face {
    font-family: khmer;
    src: url(../assets/fonts/Ledger/);
    src: url(../assets/fonts/Ledger/Ledger-Regular.ttf);
}

:root {
    --cor-branco: #ffffff;
    --cor-roxo: #423158;
    --cor-roxoClaro: #CFAFEB;
    --cor-roxo2: #724D93;
    --cor-roxo3: #81628D;
    --cor-cinza: #C4C0C4;
    --cor-preto: #000000;

    --borda: 1px solid var(var(--cor-roxo));
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ledger", serif;
}

body {
    background-color: var(--cor-cinza);
}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;

}

/*formulario*/

.formulario-botao-roxo {
    background-color: var(--cor-roxo3);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);

}

.formulario-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza);

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza);
    font-weight: 600;
}

.estilo-formulario {
    background-color: var(--cor-branco);
    border: var(--borda);
    width: 100%;
 }
 
 #campo-upload{
    display: none;
}

#texto-upload{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: var(--cor-cinza);
    color: var(--cor-preto);
    text-align: center;
}


#cabecalho {
    background-color: var(--cor-branco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

}

#cabecalho>nav {
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--borda);
}

#logo-mobile {
    display: none;
}

.cabecalho-acoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}

#foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /*mantem a proporcao com um zoom para adaptar ao tamanho do elemento*/
    object-position: center;
    border-radius: 50%;
}

@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}
